<div class="main_container">

  <div class="section">
    <h1>Ghita Tahiri</h1>
    <p>Tagline</p>
    <button class="about_me" type="button"> More about me </button>
    #this button will lead to the what I do section
  </div>
  <br>
  <br>
  <button class="btn btn-ghost" href="#">Download</button>
  <div class="section">
    <h2> Hi there👋 </h2>
    <p> Full Bio</p>
  </div>

  <div class="section2">
    <h2> What I do</h2>
    <p> empty for now </p>
    #put cards representing images of things I've done and projects created
  </div>

  <div class="section3">
    <h3> Get in Touch </h3>
    <p> You can find me on any of the following</p>
    <p> here i'll put the logo of some of my accounts</p>
  </div>

</div>
